*.user
*.cache
*.suo
*.sdf
*.props
*.opensdf
*.pdb
*.bak
*.vsmdi
*.testrunconfig
*.ncb

release
Release
debug
Debug
debug_dll
release_dll
GeneratedFiles
generatedfiles
Deleted
distr
*.obj
*.dep
*.idb
*.htm
*.manifest
*.res
x64
Win32/v100/Debug_dll
Win32/v100/Release_dll
json_spirit/Win32
speech_utility/Win32
_UpgradeReport_Files
ipch
Common/Win32
AudioOutputDS/Win32
*.log
*.XML
*.pdn
